body{
 zoom: 70%;
 font-family: sans-serif;
}

th {
 text-align: center;
}

a {
 color: #000000;
 text-decoration: none;
}

.float {
 float: left;
}

.left {
 margin-right: auto;
}

.margin_top_zero {
 margin-top:0px;
 padding-top: 0px; 
}

.productsrow {

}
  
.menu-category {

}

.product-image {
 width: 100%;
}

.product {

}
